appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asttokens==2.0.5
attrs==21.4.0
autobahn==22.6.1
Automat==20.2.0
backcall==0.2.0
basicauth==0.4.1
beautifulsoup4==4.11.1
bleach==5.0.1
BPTK-Py==1.6.0
Brotli==1.0.9
cachetools==5.2.0
cattrs==22.1.0
certifi==2022.6.15
cffi==1.15.1
channels==2.4.0
chardet==5.0.0
charset-normalizer==2.1.0
ckanapi==4.7
click==8.1.3
colorama==0.4.5
colorlover==0.3.0
colour==0.1.5
commonmark==0.9.1
constantly==15.1.0
cryptography==37.0.4
cycler==0.11.0
Cython==0.29.32
daphne==2.5.0
dash==2.5.1
dash-bootstrap-components==0.13.1
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.2
decorator==5.1.1
defopt==6.3.0
defusedxml==0.7.1
diff-match-patch==20200713
distlib==0.3.5
dj-database-url==1.0.0
Django==3.2.15
django-active-link==0.1.8
django-colorfield==0.7.2
django-heroku==0.3.1
django-import-export==2.9.0
django-mass-edit==3.4.1
django-model-utils==4.2.0
django-plotly-dash==2.0.0
dnspython==2.2.1
docopt==0.6.2
docutils==0.19
dpd-components==0.1.0
email-validator==1.2.1
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.0.0rc8
exchangerates==0.3.4
executing==0.8.3
fastjsonschema==2.15.3
Flask==2.1.2
Flask-Compress==1.12
fonttools==4.34.4
frictionless==4.40.5
greenlet==1.1.2
gunicorn==20.1.0
hdx-python-api==5.8.0
hdx-python-country==3.3.0
hdx-python-utilities==3.3.6
hyperlink==21.0.0
idna==3.3
ijson==3.1.4
importlib-metadata==4.12.0
incremental==21.3.0
inflect==5.6.2
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.1
joblib==1.1.0
jsonlines==3.1.0
jsonpath-ng==1.5.3
jsonpickle==2.2.0
jsonschema==4.7.2
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
kiwisolver==1.4.3
libhxl==4.25.2
loguru==0.6.0
lxml==4.9.1
marko==1.2.1
MarkupPy==1.14
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==0.8.4
mpmath==1.2.1
mssql==1.0.1
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
ndg-httpsclient==0.5.1
nest-asyncio==1.5.5
notebook==6.4.12
num2words==0.5.10
numpy==1.23.1
odfpy==1.4.1
openpyxl==3.0.10
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
parsimonious==0.8.1
parso==0.8.3
patsy==0.5.2
petl==1.7.10
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
plotly==5.9.0
ply==3.11
pmdarima==1.8.5
pockets==0.9.1
prometheus-client==0.14.1
prompt-toolkit==3.0.30
psutil==5.9.1
psycopg2==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.12.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyphonetics==0.5.3
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==0.20.0
python-io-wrapper==0.2
python-slugify==6.1.2
pytz==2022.2.1
PyYAML==6.0
pyzmq==23.2.0
quantulum3==0.7.10
ratelimit==2.2.1
requests==2.28.1
requests-cache==0.9.5
requests-file==1.5.1
rfc3986==2.0.0
rich==12.5.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-learn==1.1.1
scipy==1.8.1
Send2Trash==1.8.0
service-identity==21.1.0
shellingham==1.4.0
simpleeval==0.9.12
six==1.16.0
soupsieve==2.3.2.post1
sphinxcontrib-napoleon==0.7
SQLAlchemy==1.4.39
sqlparse==0.4.3
stack-data==0.3.0
statsmodels==0.13.2
stringcase==1.2.0
sympy==1.10.1
tableschema-to-template==0.0.12
tablib==3.2.1
tabulate==0.8.10
tenacity==8.0.1
terminado==0.15.0
text-unidecode==1.3
threadpoolctl==3.1.0
tinycss2==1.1.1
tornado==6.2
traitlets==5.3.0
Twisted==22.4.0
txaio==22.2.1
typer==0.6.1
typing_extensions==4.3.0
tzdata==2022.1
Unidecode==1.3.4
url-normalize==1.4.3
urllib3==1.26.10
validators==0.20.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.3
whitenoise==6.2.0
widgetsnbextension==3.6.1
win32-setctime==1.1.0
xlrd==2.0.1
xlrd3==1.1.0
XlsxWriter==3.0.3
xlwt==1.3.0
xmltodict==0.12.0
zipp==3.8.1
zope.interface==5.4.0
