{% extends "base.html" %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Banque d'équations</h1>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Révenu</h6>
            </a>
            <div class="collapse show" id="collapseCardExample">
                <div class="card-body">
                    CONTENT
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Révenu</h6>
            </a>
            <div class="collapse show" id="collapseCardExample">
                <div class="card-body">
                    CONTENT
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}