{% extends "base.html" %}

{% block content %}

<h1 class="h3 my-2 mt-4 text-gray-800">Accueil</h1>
<p class="mb-4">
    Bienvenue au site SAMRA (System Awareness and Modeling for Response Analysis / <i>La connaissance et la modélisation
    des systèmes pour l’analyse des réponses</i>). Ici on peut regarder, modifier et exécuter les modèles SAMRA. Pour
    plus d'information sur le projet SAMRA, voir
    <a href="https://drive.google.com/file/d/1_tnZ7WHHHmZgw-RLaAmAO0Mzo-tpEH0G/view" target="_blank">ici</a>.
    Pour des questions, n'hésitez pas de contacter Tristan Downing à
    <a href="mailto:tdowning@icrc.org">tdowning@icrc.org</a>
</p>


<div class="row">
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 font-weight-bold text-primary text-uppercase mb-3">
                            Résultats : tableau</div>
                        <div class="h6 mb-3 font-weight-bold">
                            Comparer les différentes réponses dans un tableau.
                        </div>
                        <div class="p mb-0">
                            Explorer comment les différentes réponses du CICR peuvent influencer les aspects clés des
                            ménages cibles.
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-table-list fa-6x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}