{% extends "base.html" %}

{% block content %}

<h1 class="h3 mb-2 text-gray-800">Accueil</h1>
<p class="mb-4">
    Bienvenue au site SAMRA (System Awareness and Modeling for Response Analysis / <i>La connaissance et la modélisation
    des systèmes pour l’analyse des réponses</i>). Ici on peut regarder, modifier et exécuter les modèles SAMRA. Pour
    plus d'information sur le projet SAMRA, voir
    <a href="https://drive.google.com/file/d/1_tnZ7WHHHmZgw-RLaAmAO0Mzo-tpEH0G/view" target="_blank">ici</a>.
    Pour des questions, n'hésitez pas de contacter Tristan Downing à
    <a href="mailto:tdowning@icrc.org">tdowning@icrc.org</a>
</p>


<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Bienvenue! / Welcome!</h6>
            </div>
            <div class="card-body">
                <p> Welcome to the SAMRA Sahel dashboard. </p>
                <p> For more on the SAMRA project (System Awareness and Modeling for Response Analysis), see
                <a href="https://drive.google.com/file/d/1_tnZ7WHHHmZgw-RLaAmAO0Mzo-tpEH0G/view" target="_blank">
                    here</a>.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}